{% extends "base.html" %}
{% block title %} Inicio Tickets {% endblock %}
{% block content %}
<style>
     .deleted {
          opacity: 0.4;
          cursor: not-allowed;
     }
     .search-input {
          width: 80%;
          border: 1px black solid;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: none;
          border-radius: 10px;
     }
     
     button {
          background-color: var(--btn-bg);
          color: white;
          padding: 12px 20px;
          border: none;
          cursor: pointer;
          border-radius: 15px;
          border: solid 2px black;
     }
</style>

<body>
     {% with messages = get_flashed_messages() %}
     {% if messages %}
     <div class="alert alert-dismissible fade show {% if 'Error' in messages %} alert-danger {% else %} alert-success {% endif %}"
          role="alert">
          <ul class="mb-0">
               {% for message in messages %}
               <li class="" style="list-style:none">{{ message }}</li>
               {% endfor %}
          </ul>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
     {% endif %}
     {% endwith %}
     <div class="container">
          <h1 class="d-flex justify-content-center mb-3">Todos los Tickets</h1>
          <div class="table-responsive">
               <input class="search-input" style="border:2px solid black;" type="text" id="search-box" placeholder="Buscar usuarios..."
               onkeyup="searchUsers()">
               <button style="border:2px solid black;" class="W-20" type="submit" onclick="searchUsers()">
                    <i class="bi bi-search"></i>
               </button>
               <button style="border:2px solid black;" class="W-20" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <i class="bi bi-plus-circle-dotted p-1"></i>
                    Nuevo Ticket
               </button>
               <!-- Modal -->
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                         <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Usuario</h1>
                              <button type="button btn" class="btn-close button" data-bs-dismiss="modal"
                                   aria-label="Close"></button>
                         </div>
                         <div class="modal-body">
                              <div class="card">
                                   <div class="modal-header card-header">
                                        <h4 class="card-title text-center m-auto">Crear Usuario</h4>
                                   </div>
                                   <div class="card-body">
                                        <form class="m-auto" action="/user/create" method="POST">
                                             <div class="form-floating mb-3">
                                                  <input type="text" name="username" class="form-control" id="inputNombre"
                                                       placeholder="Introduce tu nombre" required>
                                                  <label for="inputNombre" class="form-label">Nombre</label>
                                             </div>
                                             <div class="form-floating mb-3">
                                                  <input type="email" name="email" class="form-control" id="inputEmail"
                                                       placeholder="Introduce tu correo electrónico" required>
                                                  <label for="inputEmail" class="form-label">Correo electrónico</label>
                                             </div>
                                             <div class="form-floating mb-3">
                                                  <input type="password" name="password" class="form-control" id="inputPassword"
                                                       placeholder="Introduce tu contraseña" required>
                                                  <label for="inputPassword" class="form-label">Contraseña</label>
                                             </div>
                                             <div class="form-group mb-3">
                                                  <label for="isadmin">¿Es Administrador?</label>
                                                  <input type="checkbox" class="" name="isadmin" id="isadmin"
                                                       placeholder="¿Es Administrador?">
                                             </div>
                                             <button type="submit" class="btn button fs-5">Guardar</button>
                                        </form>
                                   </div>
                              </div>
                         </div>
                         <div class="modal-footer">
                         </div>
                    </div>
               </div>
          </div>
               <table id="tickets-table" class="table align-middle ">
                    <thead>
                         <tr class="table-dark">
                              <th>ID</th>
                              <th>Título</th>
                              <th>Descripción</th>
                              <th>Creador</th>
                              <th>Asignado a</th>
                              <th>Estado</th>
                              <th>Fecha</th>
                              <th class="{% if admin!='admin' %} d-none {% endif %}">Opciones</th>
                         </tr>
                         <tr>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th class="{% if admin!='admin' %} d-none {% endif %}"></th>
                         </tr>
                    </thead>
                    <tbody>
                         <!-- Aquí se generará dinámicamente la lista de tickets pendientes -->
                         {% for ticket in data %}
     
                         <tr class="
                                        {% if ticket.sysactive == '0' %} deleted {% endif %}
                                        {% if ticket.state.lower() == 'cerrado' %} table-danger {% else %} table-success {% endif %}
                                   ">
     
                              <th>
                                   <p>{{ticket.id}}</p>
                              </th>
                              <th>
                                   <p>{{ticket.title}}</p>
                              </th>
                              <th>
                                   <p>{{ticket.description}}</p>
                              </th>
     
                              {% for user in users %}
                              {% if user.id == ticket.creator_id %}
                              <th>
                                   <p>{{user.username}}</p>
                              </th>
                              {% endif %}
                              {% endfor %}
                              {% for user in users %}
                              {% if user.id == ticket.assigned_to %}
                              <th>
                                   <p> {{user.username}} </p>
                              </th>
                              {% endif %}
                              {% endfor %}
     
                              <th>
                                   <p>{{ticket.state}}</p>
                              </th>
                              <th>
                                   <p>{{ticket.lastmodif}}</p>
                              </th>
     
                              <th class="{% if admin!='admin' %} d-none {% endif %}">
                                   <a href="{{ url_for('ticket_blueprint.editTicket', ticketId=ticket.id) }}"
                                        class="{% if ticket.sysactive == '0' %} disabled {% endif %} btn btn-success">
                                        <i class="bi bi-pencil"></i>
                                   </a>
                                   <a type="button" data-bs-toggle="modal" data-bs-target="#delete-ticket-modal"
                                        class="btn btn-danger {% if ticket.sysactive == '0' %} disabled {% endif %}">
                                        <i class="bi bi-trash"></i>
                                   </a>
                              </th>
     
                              <!-- Modal de confirmación de eliminación -->
                                   <div class="modal fade " id="delete-ticket-modal" tabindex="-1"
                                        aria-labelledby="delete-ticket-modal-label" aria-hidden="true">
                                        <div class="modal-dialog">
                                             <div class="modal-content">
                                                  <div class="modal-header alert alert-dark">
                                                       <h5 class="modal-title" id="delete-ticket-modal-label">Confirmar elminación
                                                            de ticket</h5>
                                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                       ¿Está seguro de que desea eliminar este ticket?
                                                  </div>
                                                  <div class="modal-footer bg-secondary">
                                                       <button type="button" class="btn btn-dark"
                                                            data-bs-dismiss="modal">Cancelar</button>
                                                       <a href="{{ url_for('ticket_blueprint.deleteTicket', ticketId=ticket.id) }}"
                                                            type="submit" class="btn btn-danger"
                                                            form="delete-ticket-form">Confirmar</a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
     
                              </tr>
                         {% endfor %}
     
                    </tbody>
               </table>
          </div>
     </div>
     <div class="container" style="z-index: -1;">
          <nav aria-label="page navigation example">
               <ul class="pagination">
                    <li class="page-item">
                         <a class="page-link {% if not data.has_prev %} disabled {% endif %}" href="{{ url_for(endpoint, page=1) }}">&laquo;</a>
                    </li>
                    <li class="page-item">
                         <a class="page-link {% if not data.has_prev %} disabled {% endif %}" href="{{ url_for(endpoint, page=data.prev_num) }}">&lt;</a>
                    </li>
                    {% for page in data.iter_pages() %}
                         {% if page %}
                              <li class="page-item {% if page == data.page %} active {% endif %}">
                                   <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                              </li>
                         {% else %}
                              <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
                         {% endif %}
                    {% endfor %}
                    <li class="page-item">
                    <a class="page-link {% if not data.has_next %} disabled {% endif %}" href="{{ url_for(endpoint, page=data.next_num) }}">&gt;</a>
                    </li>
                    <li class="page-item">
                         <a class="page-link {% if not data.has_next %} disabled {% endif %}" href="{{ url_for(endpoint, page=data.pages) }}">&raquo;</a>
                    </li>
               </ul>
          </nav>
     </div>

     <script>
          function searchUsers() {
               var input, filter, table, tr, td, i, txtValue;
               input = document.getElementById("search-box");
               filter = input.value.toUpperCase();
               table = document.getElementById("tickets-table");
               tr = table.getElementsByTagName("tr");
               for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                         txtValue = td.textContent || td.innerText;
                         if (txtValue.toUpperCase().indexOf(filter) > -1) {
                              tr[i].style.display = "";
                         } else {
                              tr[i].style.display = "none";
                         }
                    }
               }
          }
     </script>
</body>
{% endblock %}