body {
     background-color: #CCFFCC;
}

.active a {
     background-color: #008cba;
}
.sidebar {
     background-color: #f1f1f1;
     width: 4.5em;
     height: 100%;
     position: fixed;
     left: 0;
     top: 0;
     z-index: 1;
     padding-top: 1.2em;
     transition: width 0.5s ease;
}
.sidebar .menu .list-group-item{
     margin: auto;
}
.sidebar:hover .menu .list-group-item{
     transition: width 0.8s ease;
     display: block;
}

.sidebar .menu span{
     display: none;
}

.sidebar:hover {
     width: 20%;
}
.sidebar:hover span{
     display: flex;
}

@media only screen and (max-width: 767px) {
     .hide {
          display: none;
     }
}

@media screen and (min-width: 992px) {
     .main{
          margin-left: 250px; 
          width:100%;
          
          padding: 20px;
     }
     .hidepc {
          display: none;
     }
     .navbar{
          min-height: 50px;
     }
}